name: Deploy (Reusable Template)

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      vite_filters_api:
        required: true
        type: string
      vite_wrapper_api:
        required: true
        type: string
      vite_gcs_bucket:
        required: true
        type: string
      fly_io_url:
        required: true
        type: string
      frontend_url:
        required: true
        type: string
      backend_url:
        required: true
        type: string
      cors_origins:
        required: true
        type: string
      gcp_project_id:
        required: true
        type: string
      backend_cloud_run_service:
        required: true
        type: string
      filters_api_cloud_run_service:
        required: true
        type: string
      sisu_wrapper_api_cloud_run_service:
        required: true
        type: string
      gcs_bucket_name:
        required: true
        type: string
      region:
        required: false
        type: string
        default: europe-north1


jobs:
  deploy_frontend:
    uses: ./.github/workflows/_deploy-frontend.yml
    with:
      environment: ${{ inputs.environment }}
      vite_filters_api: ${{ inputs.vite_filters_api }}
      vite_wrapper_api: ${{ inputs.vite_wrapper_api }}
      vite_gcs_bucket: ${{ inputs.vite_gcs_bucket }}
      fly_io_url: ${{ inputs.fly_io_url }}
      frontend_url: ${{ inputs.frontend_url }}
      backend_url: ${{ inputs.backend_url }}
    secrets: inherit

  deploy_backend:
    uses: ./.github/workflows/_deploy-backend.yml
    with:
      environment: ${{ inputs.environment }}
      gcp_project_id: ${{ inputs.gcp_project_id }}
      region: ${{ inputs.region }}
      backend_cloud_run_service: ${{ inputs.backend_cloud_run_service }}
      cors_origins: ${{ inputs.cors_origins }}
      frontend_url: ${{ inputs.frontend_url }}
      backend_url: ${{ inputs.backend_url }}
    secrets: inherit

  deploy_filters_api:
    uses: ./.github/workflows/_deploy-filters-api.yml
    with:
      environment: ${{ inputs.environment }}
      gcp_project_id: ${{ inputs.gcp_project_id }}
      region: ${{ inputs.region }}
      filters_api_cloud_run_service: ${{ inputs.filters_api_cloud_run_service }}
      cors_origins: ${{ inputs.cors_origins }}
      gcs_bucket_name: ${{ inputs.gcs_bucket_name }}
    secrets: inherit

  deploy_sisu_wrapper_api:
    uses: ./.github/workflows/_deploy-sisu-wrapper-api.yml
    with:
      environment: ${{ inputs.environment }}
      gcp_project_id: ${{ inputs.gcp_project_id }}
      region: ${{ inputs.region }}
      sisu_wrapper_api_cloud_run_service: ${{ inputs.sisu_wrapper_api_cloud_run_service }}
      cors_origins: ${{ inputs.cors_origins }}
    secrets: inherit
