name: Deploy Sisu Wrapper API to Cloud Run

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      gcp_project_id:
        required: true
        type: string
      region:
        required: false
        type: string
        default: europe-north1
      sisu_wrapper_api_cloud_run_service:
        required: true
        type: string
      cors_origins:
        required: true
        type: string


jobs:
  deploy:
    name: Deploy Sisu Wrapper API
    runs-on: 'ubuntu-latest'

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332' # actions/checkout@v4

      # Configure Workload Identity Federation and generate an access token.
      #
      # See https://github.com/google-github-actions/auth for more options,
      # including authenticating via a JSON credentials file.
      - id: 'auth'
        name: Authenticate to Google Cloud
        uses: 'google-github-actions/auth@f112390a2df9932162083945e46d439060d66ec2' # google-github-actions/auth@v2
        with:
          workload_identity_provider: 'projects/969370446235/locations/global/workloadIdentityPools/github/providers/my-repo'
          service_account: 'github-actions-deployer@sisukas-fastapi.iam.gserviceaccount.com'

      - name: Deploy to Cloud Run
        uses: 'google-github-actions/deploy-cloudrun@33553064113a37d688aa6937bacbdc481580be17' # google-github-actions/deploy-cloudrun@v2
        with:
          service: '${{ inputs.sisu_wrapper_api_cloud_run_service }}'
          region: '${{ inputs.region }}'
          source: './sisu-wrapper/'
          project_id: '${{ inputs.gcp_project_id }}'
          env_vars: |
            SISUKAS_ENV=${{ inputs.environment }}
            AALTO_COURSE_API_KEY=${{ secrets.AALTO_USER_KEY }}
            CORS_ORIGINS=${{ inputs.cors_origins }}

      # If required, use the Cloud Run URL output in later steps
      - name: 'Show output'
        run: |-
          echo ${{ steps.deploy.outputs.url }}
