name: Deploy Sisu Wrapper API to Cloud Run

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      gcp_project_id:
        required: true
        type: string
      region:
        required: false
        type: string
        default: europe-north1
      sisu_wrapper_api_cloud_run_service:
        required: true
        type: string
      cors_origins:
        required: true
        type: string


jobs:
  deploy:
    name: Deploy Sisu Wrapper API
    runs-on: 'ubuntu-latest'

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: 'Checkout'
        uses: actions/checkout@v4

      - name: Compute build timestamp
        run: echo "BUILD_TIME_ISO=$(date -u +"%Y-%m-%dT%H:%M:%SZ")" >> $GITHUB_ENV

      - id: 'auth'
        name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: 'projects/969370446235/locations/global/workloadIdentityPools/github/providers/my-repo'
          service_account: 'github-actions-deployer@sisukas-fastapi.iam.gserviceaccount.com'

      - name: Deploy to Cloud Run
        id: deploy
        uses: google-github-actions/deploy-cloudrun@v2
        with:
          service: ${{ inputs.sisu_wrapper_api_cloud_run_service }}
          region: ${{ inputs.region }}
          source: ./sisu-wrapper/
          project_id: ${{ inputs.gcp_project_id }}
          allow-unauthenticated: true
          env_vars: |
            ENVIRONMENT=${{ inputs.environment }}
            SERVICE_NAME=sisu-wrapper-api
            GIT_COMMIT_SHA=${{ github.sha }}
            BUILD_TIME_ISO=${{ env.BUILD_TIME_ISO }}
            CORS_ORIGINS=${{ inputs.cors_origins }}
            AALTO_COURSE_API_KEY=${{ secrets.AALTO_USER_KEY }}

      - name: Check Deployment Health
        run: |
          sleep 10
          curl -f "${{ steps.deploy.outputs.url }}/health" || exit 1

      - name: Show output
        run: echo "${{ steps.deploy.outputs.url }}"
