name: Deploy to Dev

on:
  push:
    branches:
      - dev

jobs:
  deploy:
    uses: ./.github/workflows/_deploy-template.yml
    with:
      environment: test
      vite_filters_api: https://filters-api-test.sisukas.eu
      vite_wrapper_api: https://sisu-wrapper-api-test.sisukas.eu
      vite_gcs_bucket: https://storage.googleapis.com/sisukas-core-test
      fly_io_url: https://sisukas-test.fly.dev
      frontend_url: https://test.sisukas.eu
      backend_url: https://api.test.sisukas.eu
      cors_origins: https://test.sisukas.eu,https://sisukas-test.fly.dev,http://localhost:5173,https://localhost:5173
      gcp_project_id: sisukas-fastapi
      backend_cloud_run_service: sisukas-backend-test
      filters_api_cloud_run_service: sisukas-filters-api-test
      sisu_wrapper_api_cloud_run_service: sisu-wrapper-api-test
      gcs_bucket_name: sisukas-filters-api-test
      region: europe-north1
    secrets: inherit
